name: Build & Push Microservices
on:
  push:
    branches: [ main ]
jobs:
  changes:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - uses: dorny/paths-filter@v3
      id: filter
      with:
        filters: |
          frontend:
            - 'src/frontend/**'
          loadgenerator:
            - 'src/loadgenerator/**'
          paymentservice:
            - 'src/paymentservice/**'
    outputs:
      frontend: ${{ steps.filter.outputs.frontend }}
      loadgenerator: ${{ steps.filter.outputs.loadgenerator }}
      paymentservice: ${{ steps.filter.outputs.paymentservice }}

## Frontend
  frontend:
    needs: changes
    if: ${{ needs.changes.outputs.frontend == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build & Push image
        uses: docker/build-push-action@v6
        with:
          context: src/frontend
          file: src/frontend/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/microservices-demo:frontend
            ${{ secrets.DOCKERHUB_USERNAME }}/microservices-demo:frontend-${{ github.sha }}

## Load Generator
  loadgenerator:
    needs: changes
    if: ${{ needs.changes.outputs.loadgenerator == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build & Push image
        uses: docker/build-push-action@v6
        with:
          context: src/loadgenerator
          file: src/loadgenerator/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/microservices-demo:loadgenerator
            ${{ secrets.DOCKERHUB_USERNAME }}/microservices-demo:loadgenerator-${{ github.sha }}

## Payment Service
  paymentservice:
    needs: changes
    if: ${{ needs.changes.outputs.paymentservice == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build & Push image
        uses: docker/build-push-action@v6
        with:
          context: src/paymentservice
          file: src/paymentservice/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/microservices-demo:paymentservice
            ${{ secrets.DOCKERHUB_USERNAME }}/microservices-demo:paymentservice-${{ github.sha }}