name: Microservices Pipeline
on:
  push:
    branches: [ main ]
jobs:
  ## Detect Changes in Microservices
  changes:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - uses: dorny/paths-filter@v3
      id: filter
      with:
        filters: |
          frontend: src/frontend/**
          loadgenerator: src/loadgenerator/**
          paymentservice: src/paymentservice/**
          productcatalogservice: src/productcatalogservice/**
          recommendationservice: src/recommendationservice/**
          shippingservice: src/shippingservice/**
          currencyservice: src/currencyservice/**
          emailservice: src/emailservice/**
          adservice: src/adservice/**
          cartservice: src/cartservice/**
          checkoutservice: src/checkoutservice/**
          shoppingassistantservice: src/shoppingassistantservice/**
    outputs:
      # Expose matched filters as job 'packages' output variable
      packages: ${{ steps.filter.outputs.changes }}

  ## Build & Push Microservices Images
  build:
    needs: changes
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # Parse JSON array containing names of all filters matching any of changed files
        service: ${{ fromJSON(needs.changes.outputs.packages) }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build & Push ${{ matrix.service }}
        uses: docker/build-push-action@v6
        with:
          context: src/${{ matrix.service }}
          file: src/${{ matrix.service }}/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/microservices-demo:${{ matrix.service }}
            ${{ secrets.DOCKERHUB_USERNAME }}/microservices-demo:${{ matrix.service }}-${{ github.sha }}

  ## Deploy Microservices
  deploy:
    needs: build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # Parse JSON array containing names of all filters matching any of changed files
        service: ${{ fromJSON(needs.changes.outputs.packages) }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Deploy ${{ matrix.service }}
        run: |
          echo "# Your deploy steps for ${{ matrix.service }}"